body{
    background-color: #04a6eb;
    color: #fdffff;
    width: 440px;
    margin-right: auto;
    margin-left: auto;
}
button{
    padding: 5px 20px;
    background-color: #2b86d6;
    color: #fdffff;
    border-style: none;   
}
input{
    height: 25px;
    border-style: none;
}
